@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Koolitus</h1>
</div>

<div class="row">
    <h1>See on meie koolitus, kõige parim koolitus</h1>
    <img src="~/images/index.jpg" />
</div>